node_modules
.env.example

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

results.json

.vscode
.idea
.DS_Store

junit.xml
jest-report.html
/jest-html-reporters-attach

.chain-data.json
/.yarnrc.yml

/keys