version: '3.8'

services:
  thor-disco:
    image: ${THOR_IMAGE:-ghcr.io/vechain/thor:master-latest}
    container_name: thor-disco
    entrypoint: 'disco --keyhex=99f0500549792796c14fed62011a51081dc5b5e68fe8bd8a13b86be829c4fd36'
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 2048M

  authority-node-1:
    extends:
      file: docker-compose-base.yaml
      service: base-authority-node
    container_name: authority-node-1
    environment:
      MASTER_KEY: '7b067f53d350f1cf20ec13df416b7b73e88a1dc7331bc904b92108b1e76a08b1'
    ports:
      - '8669:8669'

  authority-node-2:
    extends:
      file: docker-compose-base.yaml
      service: base-authority-node
    container_name: authority-node-2
    environment:
      MASTER_KEY: '35b5cc144faca7d7f220fca7ad3420090861d5231d80eb23e1013426847371c4'
    ports:
      - '8679:8669'

  authority-node-3:
    extends:
      file: docker-compose-base.yaml
      service: base-authority-node
    container_name: authority-node-3
    environment:
      MASTER_KEY: 'f4a1a17039216f535d42ec23732c79943ffb45a089fbb78a14daad0dae93e991'
    ports:
      - '8689:8669'
