name: E2E Tests

on:
    workflow_dispatch:
        inputs:
            environment:
                description: 'Environment to run tests against'
                type: environment
                required: true
                default: 'default-private'
            node_urls:
                description: 'Optional: Override the environment node URLs. (Comma separated)'
                type: string
                required: false
            branch_name:
                description: 'Branch name to build and test'
                type: string
                required: false
                default: 'master-latest'
    push:
        branches:
            - 'main'
    pull_request:

permissions:
    checks: write

jobs:
    e2e_tests:
        name: Run E2E Tests
        runs-on: ubuntu-latest
        permissions:
            checks: write
            pull-requests: write
        environment: ${{ inputs.environment || 'default-private' }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 20

            - name: Install Node Modules
              run: yarn install

            - name: Start Docker Network
              if: ${{ (inputs.branch_name == 'master-latest' || inputs.branch_name == '')  && inputs.environment != 'mainnet' && inputs.environment != 'testnet' && !startsWith(github.event.pull_request.base.ref, 'release/') && !startsWith(github.head_ref, 'release/') }}
              run: yarn docker:up

            - name: Set Custom Thor Branch
              id: set-thor-branch
              env:
                PR_BASE_REF: ${{ github.event.pull_request.base.ref }}
                HEAD_REF: ${{ github.head_ref }}
                BRANCH_NAME: ${{ inputs.branch_name }}
              run: |
                  if [[ "$PR_BASE_REF" == release/* ]]; then
                    echo "thor_branch_name=$PR_BASE_REF" >> "$GITHUB_OUTPUT"
                  elif [[ "$HEAD_REF" == release/* ]]; then
                    echo "thor_branch_name=$HEAD_REF" >> "$GITHUB_OUTPUT"
                  elif [[ $BRANCH_NAME != 'master-latest' && $BRANCH_NAME != '' ]]; then
                    echo "thor_branch_name=$BRANCH_NAME" >> "$GITHUB_OUTPUT"
                  fi

            - name: Using Custom Thor Branch
              if: ${{ steps.set-thor-branch.outputs.thor_branch_name }}
              run: |
                  # Clone only the specified branch from the vechain/thor repository
                  git clone --branch ${{ steps.set-thor-branch.outputs.thor_branch_name }} --single-branch --depth 1 https://github.com/vechain/thor.git thor-tmp

                  # Navigate to the directory and build the Docker image, replacing / with _ in the branch name
                  cd thor-tmp
                  TAG_NAME=$(echo ${{ steps.set-thor-branch.outputs.thor_branch_name }} | tr / _)
                  docker build -t thor:$TAG_NAME .

                  # Start the Docker network using the built image
                  THOR_IMAGE=thor:$TAG_NAME yarn docker:up

            - name: Run Tests
              run: yarn test
              continue-on-error: true
              env:
                  # use the provided node_urls or the default NODE_URLS
                  NODE_URLS: ${{ inputs.node_urls || vars.NODE_URLS }}
                  PRIVATE_KEYS: ${{ secrets.PRIVATE_KEYS }}
                  MNEMONIC: ${{ secrets.MNEMONIC }}
                  NETWORK_TYPE: ${{ inputs.environment || 'default-private' }}
                  MAX_WORKERS: ${{ vars.MAX_WORKERS }}

            - name: Print Docker logs
              if: ${{ (success() || failure()) && (inputs.environment != 'mainnet' && inputs.environment != 'testnet') }}
              run: yarn docker:logs

            - name: Publish Results
              uses: dorny/test-reporter@d61b558e8df85cb60d09ca3e5b09653b4477cea7 # v1
              id: test-reporter
              if: ${{ github.repository == 'vechain/thor-e2e-tests' && (success() || failure()) }}
              with:
                  name: E2E Test Report
                  only-summary: 'false'
                  list-suites: 'all'
                  list-tests: 'all'
                  fail-on-error: 'true'
                  reporter: 'java-junit'
                  path: |
                      junit.xml
